/* Headers style */

.navbar .navbar-brand {
  font-display: auto;
  font-size: 30px;
  color: rgb(51, 86, 245);
  font-weight: 700;
}

.navbar .collapse .navbar-nav {
  margin-left: auto;
}

.navbar .collapse .navbar-nav .nav-item {
  color: rgb(114, 111, 111);
  padding-left: 5px;
  padding-right: 5px;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}
.navbar .collapse .navbar-nav .nav-link {
  background-repeat: none;
}
.navbar .collapse .navbar-nav .nav-item .btn {
  background-color: rgb(51, 86, 245);
  color: white;
  border-color: rgb(51, 86, 245) !important;
}

.navbar .collapse .navbar-nav .nav-item .btn:hover {
  border-color: rgb(51, 86, 245) !important;
  background-color: rgb(51, 86, 245);
  color: white;
  border-color: rgb(51, 86, 245) !important;
}
